In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
def sharpe_ratio(returns):
    return returns.mean() / returns.std() * 252**0.5

In [3]:
def min_max(series):
    return (series-series.min())/(series.max()-series.min())

In [4]:
aapl = yf.Ticker('AAPL')

In [5]:
history = aapl.history(period="1y")

In [9]:
history['Volume'].rank(pct=True)

Date
2020-02-13    0.189723
2020-02-14    0.067194
2020-02-18    0.600791
2020-02-19    0.181818
2020-02-20    0.233202
                ...
2021-02-08    0.019763
2021-02-09    0.051383
2021-02-10    0.023715
2021-02-11    0.015810
2021-02-12    0.011858
Name: Volume, Length: 253, dtype: float64

In [20]:
returns = history['Close'].pct_change()

In [40]:
history['Volume']

Date
2020-02-13     94747600
2020-02-14     80113600
2020-02-18    152531200
2020-02-19     93984000
2020-02-20    100566000
                ...
2021-02-08     71297200
2021-02-09     76774200
2021-02-10     73046600
2021-02-11     64154400
2021-02-12     60029300
Name: Volume, Length: 253, dtype: int64

In [44]:
history['volume_norm'] = min_max(history['Volume'])

In [45]:
history

,Open,High,Low,Close,Volume,Dividends,Stock Splits,volume_norm
Date,,,,,,,,
2020-02-13,80.424083,80.927679,80.215699,80.592773,94747600,0.0,0.0,0.126400
2020-02-14,80.560524,80.868144,80.091662,80.612625,80113600,0.0,0.0,0.087909
2020-02-18,78.233562,79.322624,78.047504,79.136566,152531200,0.0,0.0,0.278384
2020-02-19,79.384647,80.518361,79.384647,80.282684,93984000,0.0,0.0,0.124391
2020-02-20,80.037092,80.538205,78.940588,79.459068,100566000,0.0,0.0,0.141703
...,...,...,...,...,...,...,...,...
2021-02-08,136.029999,136.960007,134.919998,136.910004,71297200,0.0,0.0,0.064719
2021-02-09,136.619995,137.880005,135.850006,136.009995,76774200,0.0,0.0,0.079125
2021-02-10,136.479996,136.990005,134.399994,135.389999,73046600,0.0,0.0,0.069321
2021-02-11,135.899994,136.389999,133.770004,135.130005,64154400,0.0,0.0,0.045932
2021-02-12,134.350006,135.529999,133.690002,135.369995,60029300,0.0,0.0,0.035082

In [26]:
sharpe_ratio(returns)

1.3368332538038943

In [29]:
symbols = pd.read_csv("trading_view.csv")

In [38]:
symbols[:10]

  symbol
0    RMO
1   CBAY
2   RCMT
3    ACB
4   COTY
5   EXPE
6    JHG
7   KERN
8   PINS
9    FMC

In [31]:
for i, row in symbols.iterrows():
    print(row["symbol"])

RMO
CBAY
RCMT
ACB
COTY
EXPE
JHG
KERN
PINS
FMC
FOLD
IIVI
SAVA
OEG
GDDY
AY
PLTR
NUS
YELP
COMS
WW
AEM
OPEN
ZNGA
DLPN
DVA
RDFN
CC
AQUA
RAD
KODK
LEN
ATEN
PRCH
WKHS
QMCO
POWW
TCDA
FRX
LEDS
VXRT
ACIU
SPCE
DDOG
LB
CLSK
EAF
ARCT
HTBX
ANGI
BL
FSLY
TVTX
NKLA
JE
CGIX
RESN
M
VCVC
GTHX
OTIC
GMBL
SRNE
GLMD
KOSS
NPA
TRUE
PHM
GLBS
SVMK
SQZ
WES
IMVT
VNDA
UAA
ABIO
BLMN
GOCO
MBRX
CURI
SONO
AXL
RIDE
AHCO
USEG
KMPH
HEXO
TLRY
SFM
MYOV
APDN
BW
MOSY
DNMR
FUSE
ZNTE
AREC
THBR
WISH
CLVS
CRDF
AFRM
NWL
VKTX
ZYNE
ELY
FCAC
OCGN
ALUS
CREE
HYLN
BIGC
CARG
QUOT
NET
DDD
MP
ACIC
TPR
EVGN
OPCH
AVYA